/** { 
    text-align: center;
}
.container { 
    background-color: grey;
}
.section {
margin-left: 10px;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 10px;
width: calc(35%);
padding: 5px 5px 5px 5px;
}*/